@import "tailwindcss";

.btn-primary {
    @apply bg-black p-4 cursor-pointer rounded-full px-8 hover:bg-white hover:text-black transition-colors duration-300 pointer-events-auto;
}

#drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
    font-size: 24px;
}

/* ローディング */
#loading {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(52, 52, 52, 0.8);
}

.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #333;
    border-radius: 50%;
    border-top-color: #fff;
    transform-origin: center;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* #canvas-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

#pane {
    display: none;
}

#pane.active {
    display: block;
}

#toggle-view-button.c-mode-3d > .c-switch {
    translate: 75% 0%;
}

#toggle-view-button.c-mode-3d > .c-3d {
    color: #000;
}
#toggle-view-button.c-mode-map > .c-map {
    color: #000;
}

body:has(#toggle-view-button.c-mode-map) #tweakpane-map {
    display: block;
}

body:has(#toggle-view-button.c-mode-map) #tweakpane-3d {
    display: none;
}

body:has(#toggle-view-button.c-mode-3d) #tweakpane-3d {
    display: block;
}

body:has(#toggle-view-button.c-mode-3d) #tweakpane-map {
    display: none;
}
